@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.logo {
    cursor: pointer;
}

.tags {
    top: 40%;
    right: 20%;
    position: absolute;
   
    font-size: 75px;
    font-weight:bold;
   
    transform: rotate(30deg);
    color: rgb(0, 250, 154);

}

.py {

    top: 15%;
    left: 3%;
    position: absolute;
   

    font-size: 90px;
    font-weight:bold;
   
    transform: rotate(-30deg);
    color:rgb(0, 250, 154);

}

.sql {

    top: 70%;
    left: 20%;
    position: absolute;
    font-size: 75px;
    font-weight:bold;
    transform: rotate(20deg);
    color: rgb(0, 250, 154);
}

body {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;  
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: aquamarine;
    border-radius: 15px;   
}

main {
    display: flex;
    background: rgb(51, 51, 51);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    overflow-y: auto;
    height: 99vh;
    z-index: 3;
    margin-top: 10px;
}

section {
    display: flex;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    border-radius:10px;
    overflow: hidden;
  
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    backdrop-filter: blur(10px);
    color:aliceblue;
    width: 99%;
    position: fixed;
    top:0px;
    left:0px;
    z-index:4;
  
}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

li {
    list-style: none;
}

.nav_links a{
    color:aliceblue;
    text-decoration:none;
    letter-spacing:3px;
    font-size:15px;
    font-family: 'Roboto Mono', monospace;
    transition: 0.5s;
    padding: 13px 20px;
    border-radius: 10px;
}

.burger {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
}

.burger div{
    background-color:aliceblue;
    width:25px;
    height:3px;
    margin: 5px;
    transition: all 0.3s ease;
}

/* @media screen and (max-width:1200px){
    .nav_links {
        width: 100%;    
    }
} */

@media screen and (max-width:720px){
    body {
        overflow-x: hidden;       
    }
    .nav_links {
        position: absolute;
          right: 0px;
          height:90vh;
          border-radius: 15px;
          top: 100%;
          background:linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
          display:flex;
          flex-direction: column;
          align-items: center;
          width: 40%;
          transform: translateX(110%);
          transition: transform 0.5s ease-in;
          z-index: 4;
    }
    .nav_links li {
        opacity:0;
    }
    .burger {
        display: block;
    }
    .intro {
        height: 100%;
    }
}

.nav-active {
    transform: translateX(-3%);
}

.nav_links li a.active {
    color:aquamarine;
}

.nav_links li:hover a {
    color:aquamarine;
    font-size: 25px;
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.intro {
    background: transparent;
    width: 90%;
    height: 80%;
    z-index: 3;
    display: flex;
    margin-top:18%;
 
}

.intro-text {
    color: aliceblue;
    font-size: 60px;
}

@media screen and (max-width:720px){
    .intro-text {
        margin: 20px;
        font-size: 50px;
    }
    .cursor {
        display: inline-block;
        width: 5px;
        background: #ccc;
        height: 30px;
        animation: blink 1s infinite ease;
        margin-left: 5px;
    }
}

.cursor{
    display: inline-block;
    width: 5px;
    background: #ccc;
    height: 50px;
    animation: blink 1s infinite ease;
    margin-left: 5px;
}

.cursor.typing{
    animation: none;
}

.typed-text {
    color:rgb(151, 247, 210);
    font-family:'Roboto Mono', monospace;

}

@keyframes blink {
    0% {
        background: #ccc;
    }
    50% {
        background: transparent;
    }
    100% {
        background: #ccc;
    }
}

#intro_head {
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    line-height: 60px;
    color:rgb(151, 247, 210);
    letter-spacing: 3px;
}

.text_below {
    font-family: 'Roboto Mono', monospace;
    color:aliceblue;
    letter-spacing: 3px;
    width: 70%;
    transition: 2s ease;
}

.container2 {
    margin-top: 15%;
    margin-left: 2%;
    transform: translateX(-100%);
    opacity: 0;
    transition: 1s ease;
    width: 40vw;
    height:10vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.container2.open {
    transform: translateX(0%);
    opacity: 1;
}

.contact {
    padding: 10px 15px;
    width: 130px;
    font-size: 20px;
    color: aquamarine;
    background: transparent;
    border: 1px solid aquamarine;
    font-family: "Roboto Mono", monospace;
    cursor: pointer;
    transform:translateY(500%);
    opacity: 0;
    text-decoration: none;
    transition: 1s ease;

}

.contact.get {
    opacity: 1;
    transform: translateY(50%);
}

.contact.slide {
    transform: translate(85vw, 100vh);
    z-index: 9;
    opacity: 1;
}

.contact:hover {
    color:rgb(0, 250, 154);
    border: 2px solid rgb(0, 250, 154);
    border-radius: 10px;
    width: 160px;
    padding: 10px 15px;
    font-size: 25px;

}


.abouthead{
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 20px;
    margin-top: 30%;
    text-align: left;
    line-height: 60px;
    color:rgb(151, 247, 210);
    letter-spacing: 3px;
    transition: 1s ease;
    transform: translateX(-100%);
    cursor: default;
}

#Vector_12 {
    fill: #353349;

}

#door {
    fill: rgb(252, 2, 98);
    transition: 1s ease;
}
#door:hover {
    fill: rgb(109, 214, 179);
}

.skillshead {
    position: absolute;
    right: 20px;
    top: 100px;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    
    text-align: left;
    color:rgb(151, 247, 210);
    letter-spacing: 3px;
    transition: 1s ease;
    transform: translateX(150%);
    cursor: default;
}

.skillshead.pop-up2{
    transform: translateX(0%);
}

.abouthead:hover , .skillshead:hover {
    color:rgb(252, 2, 98);
}


.about {
    overflow: hidden;
    z-index: 2;
}

.skills {
    overflow:hidden;
}


.abtparagraph {
    position: relative;
    left: 20px;
    top: 30px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    line-height: 40px;
    color:aliceblue;
    width: 500px;
    transform: translateX(-150%);
    transition: 1s ease;

}
.person {
    transform: translate(-40%, 50%);
    transition: 1s ease;
}

.person.apearPerson{
    transform: rotateZ(0deg);
    
}

.abtsvg {
    position: relative;
    top: 10%;
    right: 10px;
    transform: translateX(150%);
    transition: 1s ease;
}

.abtsvg.apear{
    transform: translateX(28%);
}

.textsvgabt {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position:fixed;
    top: 30px;
    left: 40%;
    width: 100vh;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    color:rgb(252, 2, 98);
    transform: translateY(10%);
    opacity: 0;
    cursor: default;
    
}

.textsvgabt.apearText {
    transform: translateY(0%);
    opacity: 1;
}

.textsvgabt:hover {
    color:rgb(151, 247, 210);
}

#Ambisious {
    position: absolute;
    top: 165px;
    width: 30px;
    transform: rotateZ(90deg) translateY(0%);
    letter-spacing: 10px;
    transition: 1s ease;

}
#Ambisious:hover {
    transform: rotateZ(90deg) translateY(50%);

}
#Creative {
    position: absolute;
    top: 180px;
    left: 130px;
    width: 30px;
    transform: rotateZ(90deg);
    letter-spacing: 10px;
    transition: 1s ease;

}
#Creative:hover {
    transform: rotateZ(60deg);
}
#Hard-Working {
    position: absolute;
    top: 420px;
    left: -60px;
    transform: rotateZ(-23deg);
    letter-spacing: 10px;
    font-size: 15px;
    transition: 1s ease;

}

.homebg {
    
    height:9vh;
    width: 10rem;
    position: relative;
    top: 400px;
    background:chocolate;
}


@keyframes bganimations {
    from {
        transform: translateX(-80%);
    }
    to {
        transform: translateX(80%);
    }
}


.textMe {
    position: absolute;
    top: 90vh;
    right: 0px;
    z-index: 10;
    
    text-align: center;
    padding: 5px;
    transition: 1s ease;
    opacity: 0;
}

.emailimg {
    height: 40px;
    transition: 1s ease;
}

.emailimg:hover {
    height: 50px;
}
.textMe.pop-up {
    opacity: 1;
    transform: translateX(-50%);
}
